{% extends 'base.html' %}
{% block title %}DemandSupplyWithCity{% endblock title %}
{% block body %}
    <h1>Predict Demand and Supply IN your Category and In Your City</h1>
    <h4>Using DecisionTreeRegressor</h4>

    <form method="POST" action="/pcacw/">
        {% csrf_token %}
        <label for="citySelect">Select your city:</label>
        <select name="citySelect" id="citySelect">
            <option value="Bangalore">Bangalore</option>
            <option value="chennai">chennai</option>
            <option value="Delhi">Delhi</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="Kanpur">Kanpur</option>
            <option value="Kolkata">Kolkata</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Pune">Pune</option>
            <option value="Surat">Surat</option>
        </select>
        <label for="categorySelect">Select a Category:</label>
        <select name="categorySelect" id="categorySelect">
            <option value="Health and beauty">Health and Beauty</option>
            <option value="Electronic accessories">Electronic Accessories</option>
            <option value="Home and lifestyle">Home and Lifestyle</option>
            <option value="Fashion accessories">Fashion Accessories</option>
            <option value="Food and beverages">Food and Beverages</option>
            <option value="Sports and travel">Sports and Travel</option>
        </select>
        <label for="date">Enter a Date (DD-MM-YYYY):</label>
        <input type="date" id="date" name="date" required>
        <button type="submit">Predict</button>
    </form>
{% endblock body %}
